#apple-pay {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-position: 50% 50%;
    background-color: black;
    background-size: 60%;
    background-repeat: no-repeat;
}