#apple-pay {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

#apple-pay-express {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

#apple-pay,
#apple-pay-express {
    @supports (-webkit-appearance: -apple-pay-button) {
        -webkit-appearance: -apple-pay-button;
        -apple-pay-button-type: plain;
        -apple-pay-button-style: black;
    }

    @supports not (-webkit-appearance: -apple-pay-button) {
        border: none;
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-position: 50% 50%;
        background-color: black;
        background-size: 100% 60%;
        background-repeat: no-repeat;
    }
}

.apple_pay_amount_text {
    background-color: #F0FFFF;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
