.klarna-description-image {
  height: 30px;
}

.klarna-payment-method-selector {
  margin: 0;
}

.klarna-payment-methods-container {
  margin-top: 10px;
}

.klarna-payment-method-hidden {
  display: none;
}

.klarna-payment-method-container {
  margin-top: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.klarna-display-message {
  margin-top: 10px;
}

.klarna-token-div {
  padding-bottom: 0;
}
