.paypalplus_loader_spinner {
  width: 90%;
}

.paypalplus_loader_spinner .paypalplus_loader_spinwrap {
  margin-left: -100px;
}

.paypalplus_loader_spinner .paypalplus_loader_spinwrap p {
  margin: 0 0 0 -23px;
}