#fc-payment {
    position: relative;
    min-height: 160px;
}

.fc-payment-method--plastic-saved__card-number,
.fc-container__checkout-helper-text,
.fc-container__subscription-cancel-helper-text {
   a {
    color:$grayMidDark;
  }
}


$cards: visa mastercard amex discover dinersclub maestro laser jcb unionpay uatp;

.fc-checkout__section--payment__method__logo {
    opacity: 1;
    @include transition (all 0.2s ease-out 0.1s);
}

@each $card in $cards {
  .fc-checkout__section--payment--#{$card} .fc-checkout__section--payment__method__logo {
    opacity: 0.2;
    @include transition (all 0.2s ease-out 0.1s);

    &.fc-checkout__section--payment__method__logo--#{$card} {
      opacity: 1;
      @include transition (all 0.2s ease-out 0.1s);
    }

  }

}

.fc-container__grid--plastic-new-exp-month {
    padding-left: 10px;
    padding-right: 5px;
    width:28%;
}
.fc-container__grid--plastic-new-exp-year,
.fc-container__grid--plastic-new-csc {
    padding-left: 5px;
    padding-right: 5px;
}
.fc-container__grid--plastic-new-exp-year {
    width:27%;
}
.fc-container__grid--plastic-new-csc {
    width:20%;
    padding-right: 0px;
}

@media ($smallScreen) {
  .fc-container__grid--plastic-new-exp-month {
      padding-left: 0px;
      width:35%;
  }
  .fc-container__grid--plastic-new-exp-year {
      width:35%;
  }
  .fc-container__grid--plastic-new-csc {
      width:22%;
  }
}

@media ($xSmallScreen) {
    .fc-container__grid--plastic-new-exp-month,
    .fc-container__grid--plastic-new-exp-year {
        width:35%;
    }
    .fc-container__grid--plastic-new-csc {
        width:30%;
    }
}

/* Payment methods */
.fc-checkout__section--payment {
    position:relative;

      & > .fc-form-group {
        margin-bottom:0px;
      }
    @media ($medScreen) {
      & > .fc-form-group {
          margin-bottom:8px;
      }
    }


    #fc-icon-lock-large {
        position: absolute;
        color: $grayLight;
        top: 0px;
        left: 55px;
        font-size:130px;
    }

    .fc-payment-method--plastic__saved,
    .fc-payment-method--plastic__new {
        padding-top: 0;

        .fc-form-group {
            margin-top:5px;
            margin-bottom:.7em;
        }
        .fc-form-group:last-child {
            margin-bottom:10px;
        }
    }
    .fc-container__grid--static--plastic-saved-csc {
        @media ($smallScreen) {
            padding-right:0;
        }
    }

    .fc-payment-method--plastic__saved {
        .fc-input-group-container--active {
            @media ($medScreenMax) {
                min-height:160px;
            }

            @media ($xSmallScreen) {
                min-height:27px;
            }
        }
        .fc-form-group {
            &:first-of-type {
                margin-bottom:0;
            }
            .fc-form-label {
                padding-top: ($padding-base-vertical + 1); // From .control-label, which only has this for $medScreen and up
            }
        }
        .fc-svg-icon--lock {
            position:absolute;
            top:56px;
            left:20px;
            color:$white;
            font-size:85px;

            @media ($xSmallScreen) {
                display:none !important;
            }
        }
        .fc-input-group-container--active .fc-form-control--static {
            font-size:100% !important;
        }
    }

    .fc-payment-method--plastic__new {
        .fc-input-group-container__title--forced {
            padding-left:40px;
        }
        .fc-form-group:first-of-type {
            margin-top:15px;
        }
        .fc-svg-icon--lock {
            position:absolute;
            top:9px;
            right:9px;
            font-size:24px;
            color:$success;
        }

        .fc-form-group {
            @media ($smallScreen) {
                //margin-left: ($grid-gutter-width / -2);
                //margin-right: ($grid-gutter-width / -2);
            }
        }
    }

    .fc-checkout__section--payment__method__logo,
    .fc-payment-method-logo {
        display:inline-block;
        text-align:left;
        //padding-top: 5px;

        img {
            height: 23px;
            margin-right:5px;
        }
    }
}

#fc-payment-method-show_other_options {
    @extend .text-center;
    @extend .col-sm-8;
    @extend .col-sm-offset-3;
}


// The inputs inside the #fc-payment-method-plastic
// =====================================================
.fc-form-control--new-cc-number,
.fc-payment-method--plastic__saved .fc-form-control {
    padding-right:0;
    padding-left:6px;
    background:$white;
}

.fc-container__grid--input--plastic-new-card-number {
    padding-right: 0px;
    padding-left:0;

    @media ($xSmallScreen) {
        width:100%;
    }
}

.fc-container__grid--payment-method .fc-form-label--new-cc-exp-month {
    margin-top: 7px;
    padding-left:0;
}

@media ($medScreenMax) {
    .fc-form-label__pos-masked-number,
    .fc-form-label__pos-expiration {
        text-align:left;
    }
}

.fc-container__static--pos-masked-number {
    .fc-payment-method-logo img {
        margin-right:0;
        margin-left:5px;
    }
}

// Point Of Sale Card Swiping Modal
// =====================================================
.fc-pos-modal .fc-modal--inner {
    min-height:300px;
}
[data-fc-id="fc-pos--swipe-ui"] {
    background: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding:20px;

    h3 {
        text-align: center;
        margin: 95px 0 30px;
        color: #000;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    }
}
.fc-pos-modal--header {
    margin: -20px -20px 20px;
    padding: 20px;
    background: #F1F1F1;
    text-align: center;

    h2 {
        font-size:20px;
    }
    h3 {
        margin: 0 0 5px;
        font-size: 16px;
    }
    ul {
        list-style: none;
        border-top:1px solid #CCC;
        margin: 0;
        padding:10px 0 0;
    }
    .fc-pos-modal--email {
        margin-top:8px;
    }
    .fc-payment-method-logo {
        display:inline-block;
        text-align:left;

        img {
            height: 20px;
            margin-left:5px;
        }
    }
}
#fc_checkout_pos_encryption_number {
    position:absolute;
    height:0px;
    width:0px;
    overflow:hidden;
    opacity:0;
    top:0px;
    left:0px;
}

// 3D Secure v2 Modal
// =====================================================
.fc-3dsv2-modal .fc-modal--inner {
    padding:0;
    height:450px;
}
.fc-3dsv2-modal iframe {
    border: 0;
    width: 100%;
    height: 95%;
}
.fc-3dsv2-modal .fc-modal--inner .fc-spinner {
    margin-top:165px;
}

.modal-buttons {
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.modal-button-cancel-lang {
    color: $white;
    float: right;
    padding-left: 5px;
}


// Express Payment Options
// ====================================================
#fc-checkout__section--express-options {
    margin-bottom: 5px;

    .fc-express-option {
        display: inline-block;
        vertical-align: middle;
        margin:0 5px 10px;
    }
}
