.paypal-mark-holder > div {
  display: inline-block;
}

.paypal-mark {
  background: none;
  margin-right:10px;
}

.fc-form-group .paypal-mark img {
  top:0;
}

.fc-action--payment--paypal-platform {
  text-align: center;
}