<!DOCTYPE html>
<!--[if lt IE 7]>      <html id="fc" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html id="fc" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html id="fc" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html id="fc" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ config.store_name }} Cart</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <link href="//cdn.foxycart.com/{{ config.store_domain|replace({'.foxycart.com': ''}) }}/responsive_styles.css" rel="stylesheet">

    <!-- FC script insertion -->{{ fc_header_content|raw }}<!-- /FC script insertion -->
</head>
<body class="fc-context--cart-fullpage" data-fc-context='{"cart_is_fullpage":true}'>
    <!-- has to be here because of chrome bug -->
    {% include 'svg.inc.twig' %}

    {% set cart_is_fullpage = true %}
    <div data-fc-container="cart">
        {% include 'cart.inc.twig' %}
    </div>


    <!-- TODO: IE8 support -->
    <!-- Add media query support to IE8 and prior. https://github.com/scottjehl/Respond -->
    <!--[if lt IE 8]><script src="js/respond.min.js"></script><![endif]-->
    <!-- FC footer script insertion -->{% include template_from_string(fc_footer_content) %}<!-- /FC footer scripts -->
</body>
</html>
