<!DOCTYPE html>
<html id="fc">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ config.store_name }} Receipt</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">

    <link href="{{ config.css_file }}" rel="stylesheet" media="all">

    <!-- FC script insertion -->{{ fc_header_content|raw }}<!-- /FC script insertion -->
</head>
<body>
<!-- has to be here because of chrome bug -->
    {% include 'svg.inc.twig' %}

    {% import "utils.inc.twig" as utils %}
    {% use 'receipt.inc.twig' %}
    {{ block('receipt') }}


    <!-- TODO: IE8 support -->
    <!-- Add media query support to IE8 and prior. https://github.com/scottjehl/Respond -->
    <!--[if lt IE 8]><script src="js/respond.min.js"></script><![endif]-->
    <!-- FC footer script insertion -->{% include template_from_string(fc_footer_content) %}<!-- /FC footer scripts -->
</body>
</html>